/* App-specific styles */

/* Card Styles */
.mini-profile-card {
    border-radius: 50px;
    width: 250px !important;
}

.mini-profile-card i {
    width: 100%;
}

.mini-profile-card .rounded-circle {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.profile-card {
    width: 300px !important;
    height: 400px !important;
}

.profile-photo {
    max-width: 260px;
    width: 100%;
}

.profile-photo-container {
    max-height: 260px;
    overflow: hidden;
}

.card-icon {
    max-width: 50px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.scope-limit-warning {
    color: red;
    font-size: 10px;
    font-style: italic;
    position: relative;
    top: -10px;
}

.card-back .card-icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.card-icon-container {
    margin-left: 210px;
    margin-top: 5px;
    overflow: hidden;
}

.event-button {
    color: green;
    cursor: pointer;
}

.event-button:hover {
    color: black !important;
}

.flip-container {
    perspective: 1000;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container.disable-hover .flipper {
    transform: rotateY(0deg) !important;
}

.flip-container,
.card-front,
.card-back {
    width: 300px;
    height: 400px;
    margin: 0 auto;
}

.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

#card-container-loading {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.flip-container:focus .flipper,
.flip-container.focus .flipper,
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.App {
    /* Offset for the footer to avoid overlap */
    margin-bottom: 50px;
}

#adminContainer {
    margin-top: 35px;
    padding-bottom: 35px;
}

#editDrinkers {
    margin-bottom: 20px;
}

#editGroups {
    margin-bottom: 20px
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#github-help {
    color: white;
    margin-right: 20px;
}

#github-help-container {
    text-align: right;
    width: 100%;
}

.white-icons i {
    color: white;
}

footer .social-icons {
    font-size: 1.5em;
}

footer .social-icons i {
    padding-right: 8px;
}

.trademark {
    color: white;
    text-align: left;
    margin-left: 20px;
    width: 100%;
}

.trademark-active {
    color: green;
    text-align: left;
    margin-left: 20px;
    width: 100%;
}

/* Backgrounds */
.shadow-med {
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.175) !important;
}

.bg-red {
    background-color: #e53230;
}

.bg-green {
    background-color: green;
}

.font-red {
    color: #e53230;
}

.font-green {
    color: green;
}

.bg-gray-transparent {
    background-color: rgba(100, 100, 100, 0.5) !important;
}

.bg-plus {
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 10%, transparent),
    radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 10%, transparent) 25px 25px,
    linear-gradient(#f7f7f7 4px, transparent 4px) 0 -2px,
    linear-gradient(90deg, #f7f7f7 4px, transparent 4px) -2px 0;
    background-color: #ffffff;
    background-size:50px 50px,
    50px 50px,
    25px 25px,
    25px 25px;
}

.border-med {
    border: 3px solid #f7f7f7;
}

.rounded-corners {
    border-top-left-radius: 1rem!important;
    border-bottom-right-radius: 1rem!important;
}

.table th, .table td {
    padding: 0px !important;
}

/* TODO :: make the {.table > .mask-data td} thing to add a blurry layer over the values */
