/* App-specific styles */

/* Card Styles */
.mini-profile-card {
    border-radius: 50px;
}

.profile-card {
    width: 300px !important;
    height: 400px !important;
}

.card-icon {
    margin-left: 210px;
    margin-top: 5px;
}

.flip-container {
    perspective: 1000;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.card-front,
.card-back {
    width: 300px;
    height: 400px;
    margin: 0 auto;
}

.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.flip-container:focus .flipper,
.flip-container.focus .flipper,
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

/* Backgrounds */
.shadow-med {
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.175) !important;
}

.bg-red {
    background-color: #e53230;
}

.bg-gray-transparent {
    background-color: rgba(100, 100, 100, 0.5) !important;
}

.bg-plus {
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 10%, transparent),
    radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 10%, transparent) 25px 25px,
    linear-gradient(#f7f7f7 4px, transparent 4px) 0 -2px,
    linear-gradient(90deg, #f7f7f7 4px, transparent 4px) -2px 0;
    background-color: #ffffff;
    background-size:50px 50px,
    50px 50px,
    25px 25px,
    25px 25px;
}

.border-med {
    border: 3px solid #f7f7f7;
}

.rounded-corners {
    border-top-left-radius: 1rem!important;
    border-bottom-right-radius: 1rem!important;
}

.table th, .table td {
    padding: 0px !important;
}
